body {
  background-size: cover;
}

#page-body {
  padding: 0;
  margin: 0;
  text-align: center;
  color: white;
}

#home-body {
  padding: 80px 20px;
  text-align: center;
  opacity: 0.2;
}

#header {
  display: flex;
  background-color: white;
  box-shadow: 0px 3px 5px #888888;
}

#navbarNav {
  justify-content: flex-end;
}

#page-image-image {
  width: 100%;
}

#portfolio-image {
  background: url(../images/img1.jpg) no-repeat center top fixed;
  height: 450px;
  background-size: cover;
}

#contact-image {
  background: url(../images/img2.jpg) no-repeat center top fixed;
  height: 450px;
  background-size: cover;
}

#contact-title {
  font-size: 21px;
  font-weight: 200;
  margin-bottom: 20px;
}

#submitForm {
  margin: 0 15px;
}

#portfolio-body, #contact-body {
  padding: 0;
  background-color: white;
  box-shadow: 3px 3px 5px #888888;
  color: black;
  text-align: left;
  top: -20px;
  opacity: 0.2;
}

.event-name {
  font-weight: 400;
  padding: 0 10px 0 0;
  color: black;
}

.event-list {
  color: grey;
  font-style: oblique;
}

.portfolio-category {
  padding: 20px 0;
  font-size: 28px;
}

#stage-performance {
  margin-top: 20px;
}

#ballroom-dance {
  margin-bottom: 20px;
}

#contact-form {
  padding: 20px;
}

.submit-toast {
  margin: 0 0 30px 0;
  display: none;
}

.navbar-brand {
  padding-left: 18px;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.nav-pills .nav-link.active {
  color: black;
  background-color: white;
  border: 2px solid black;
}

#offset {
  height: 70px;
}
